..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\.eslintrc.json
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\app.json
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\App.js
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\gulpfile.js
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\assets
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\old-.babelrc
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\.watchmanconfig
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\.gitignore
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\.npmignore
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\babel.config.js
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\yarn-error.log
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\yarn.lock
