..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\.eslintrc.json
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\app.json
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\App.js
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\gulpfile.js
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-player-recorder-no-linking\assets
